body {
  background-color: goldenrod; 
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh; 
}
p {
  color: white;
  text-align: center;
    font-size: 1.2em;
}


form {
  display: flex;
    justify-content: right;
  flex-direction: column;
  width: 300px; 
  gap: 12px;    
}

label {
  margin-bottom: 4px;
}

input,
select,
button {
  margin-bottom: 8px;
}